<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/all.css">
    <title>NodeJS & Passport App</title>
</head>
<body>
    <div class="container">
        <%- body %>
    </div>
    <script src="/public/js/all.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</body>
</html>